In [1]:
!pip3 install yfinance

Collecting yfinance
  Downloading yfinance-0.1.59.tar.gz (25 kB)
Requirement already satisfied: pandas>=0.24 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.1.3)
Requirement already satisfied: numpy>=1.15 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (4.6.1)
Requirement already satisfied: pytz>=2017.2 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: six>=1.5 in /Users/uedaasagi/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=bfa01626fe73960ae78b6d5b498b7bb8daa2c9f320fa4442fc67bdb5692c876d
  Stored in directory: /Users/uedaasagi/Library/Caches/pip/wheels/7e/d5/f4/f628965651f61ae35c2bdc73571ce1a2026e1550a336b5ad4b
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=8432f5fc14f9987842d7562d914fae132d2e58feb668283b346773324dfb69cd
  Stored in directory: /Users/uedaasagi/Library/Caches/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.59

In [5]:
import pandas as pd
import matplotlib.pyplot as plt 
import yfinance as yf
%matplotlib inline

In [6]:
aapl = yf.Ticker('AAPL')

In [7]:
days = 50
hist = aapl.history(period=f'{days}d') 
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-11,122.332207,123.001069,121.054379,121.753189,103026500,0.00,0
2021-03-12,120.195839,120.964530,118.957944,120.824768,88105100,0.00,0
2021-03-15,121.204128,123.789732,120.215801,123.779747,92403800,0.00,0
2021-03-16,125.486848,127.004275,124.508514,125.357071,115227900,0.00,0
2021-03-17,123.839652,125.646580,122.132544,124.548447,111932600,0.00,0
2021-03-18,122.671628,122.971123,120.115972,120.325615,121229700,0.00,0
2021-03-19,119.696686,121.224090,119.477058,119.786530,185549500,0.00,0
2021-03-22,120.125962,123.659960,120.056081,123.180771,111912300,0.00,0
2021-03-23,123.120876,124.029329,121.932891,122.332214,95467100,0.00,0
2021-03-24,122.611734,122.691600,119.866397,119.886360,88530500,0.00,0
2021-03-25,119.337298,121.453706,118.798213,120.385513,98844700,0.00,0
2021-03-26,120.145921,121.274010,118.718345,121.004463,94071200,0.00,0
2021-03-29,121.443720,122.372143,120.525281,121.184158,80819200,0.00,0
2021-03-30,119.906329,120.195838,118.658448,119.696686,85671900,0.00,0
2021-03-31,121.443719,123.310543,120.944567,121.942871,118323800,0.00,0
2021-04-01,123.450312,123.969427,122.282290,122.791428,75089100,0.00,0
2021-04-05,123.659959,125.946077,122.861313,125.686516,88651200,0.00,0
2021-04-06,126.285496,126.914425,125.436939,125.995987,80171300,0.00,0
2021-04-07,125.616631,127.703083,124.927799,127.683121,83466700,0.00,0
2021-04-08,128.731334,130.168894,128.302070,130.138947,88844600,0.00,0
2021-04-09,129.579904,132.814401,129.250462,132.774475,106686700,0.00,0
2021-04-12,132.295284,132.624727,130.408490,131.017456,91420000,0.00,0
2021-04-13,132.215426,134.431663,131.706281,134.202042,91266500,0.00,0
2021-04-14,134.711191,134.771087,131.436754,131.806122,87222800,0.00,0
2021-04-15,133.593087,134.771079,133.413385,134.271927,89347100,0.00,0
2021-04-16,134.072272,134.441640,133.053998,133.932510,84922400,0.00,0
2021-04-19,133.283597,135.240280,133.113887,134.611343,94264200,0.00,0
2021-04-20,134.791058,135.300187,131.586494,132.884293,94812300,0.00,0
2021-04-21,132.135554,133.523197,131.077354,133.273621,68847100,0.00,0
2021-04-22,132.814404,133.922522,131.187178,131.716278,84566500,0.00,0
2021-04-23,131.935898,134.890871,131.935898,134.092239,78657500,0.00,0
2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81806500,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76756000,0.00,0

In [8]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [18]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-11,122.332207,123.001069,121.054379,121.753189,103026500,0.0,0
2021-03-12,120.195839,120.964530,118.957944,120.824768,88105100,0.0,0
2021-03-15,121.204128,123.789732,120.215801,123.779747,92403800,0.0,0

In [9]:
hist.index

DatetimeIndex(['2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22',
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26',
               '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30',
               '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
               '2021-05-07', '2021-05-10', '2021-05-11', '2021-05-12',
               '2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18',
               '2021-05-19', '2021-05-20'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [11]:
hist.index = hist.index.strftime('%d %B %Y')

In [17]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                    apple
Date
11 March 2021  121.753189
12 March 2021  120.824768
15 March 2021  123.779747
16 March 2021  125.357071
17 March 2021  124.548447

In [19]:
hist = hist.T
hist

Date,11 March 2021,12 March 2021,15 March 2021,16 March 2021,17 March 2021,18 March 2021,19 March 2021,22 March 2021,23 March 2021,24 March 2021,...,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021
apple,121.753189,120.824768,123.779747,125.357071,124.548447,120.325615,119.78653,123.180771,122.332214,119.88636,...,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998

In [21]:
hist.index.name = 'Name'

In [22]:
hist

Date,11 March 2021,12 March 2021,15 March 2021,16 March 2021,17 March 2021,18 March 2021,19 March 2021,22 March 2021,23 March 2021,24 March 2021,...,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,121.753189,120.824768,123.779747,125.357071,124.548447,120.325615,119.78653,123.180771,122.332214,119.88636,...,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998